.field1 {
    .at-swipe-action {
        width: 100% !important;
    }

    .at-swipe-action__area {
        width: 100% !important;
    }
}

.field2 {
    .at-checkbox__option-wrap {
        margin: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}