@font-face {
  font-family: "iconfont"; /* Project id 5127651 */
  src: url('iconfont.woff2?t=1771385333360') format('woff2'),
       url('iconfont.woff?t=1771385333360') format('woff'),
       url('iconfont.ttf?t=1771385333360') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jinggao:before {
  content: "\e600";
}

.icon-jia:before {
  content: "\e638";
}

.icon-yaoqing:before {
  content: "\e682";
}

.icon-cuowu:before {
  content: "\e626";
}

.icon-cuowu1:before {
  content: "\e657";
}

.icon-lingdang:before {
  content: "\e8c0";
}

.icon-paizhao:before {
  content: "\e8d1";
}

.icon-fuzhi:before {
  content: "\e636";
}

.icon-daibantixing:before {
  content: "\e627";
}

.icon-shouye:before {
  content: "\e66d";
}

.icon-tuichu:before {
  content: "\e641";
}

.icon-xiangfa:before {
  content: "\e643";
}

.icon-dui:before {
  content: "\e645";
}

.icon-kucun:before {
  content: "\e6b9";
}

.icon-bianji:before {
  content: "\e653";
}

.icon-sharpicons_chef-hat:before {
  content: "\e7ab";
}

.icon-sharpicons_medical-sign:before {
  content: "\e810";
}

.icon-jian:before {
  content: "\e607";
}

.icon-sousuo:before {
  content: "\e602";
}

.icon-fenxiang:before {
  content: "\e6fa";
}

.icon-shaixuan:before {
  content: "\e606";
}

.icon-shanchu:before {
  content: "\e61f";
}

.icon-a-shijiankaishishijian:before {
  content: "\e8d9";
}

.icon-yidaoqi:before {
  content: "\e6f1";
}

